* {
    box-sizing: border-box;
}
@font-face {
    font-family: "Arcade";
    src: url('fonts/arcade_classic_2/ARCADECLASSIC.TTF');
}
:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #400d3f;
    --hotmag:  #ff00d8;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --dkplum: #220f22;
}

body {
    pointer-events: none;
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;/*check this*/

    font-family: "Arcade", 'Arial'; /*change secondary font*/
    color: var(--white);
    text-align: center;
    font-size: 1.4rem;

    background-image:linear-gradient(var(--black) , var(--dkplum), var(--plum));
    background-repeat:no-repeat;
}

h1 {
    color: var(--aqua);
    padding-bottom: 0.5rem;
    font-size: 4rem;
}

/*statistics position */
#stats {
    font-size: 128%;
}
.score {
    position: fixed;
	top: 0.4rem;
	left: 0.4rem;
    text-align:left;
}
#timer {
    position: fixed;
    text-align: right;
    top: 0.4rem;
    right: 0.4rem;
}
#combo {
    position: fixed;
    text-align: right;
    bottom: 0.4rem;
    right: 0.4rem;
}

#gameOver h1, #main h1{
    animation: blink 1s steps(4, start) infinite;
}

/*menus*/
#main, #pause, #gameOver {
    position: fixed;/*ogarnij to*/
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    opacity:0;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#main.open, #pause.open, #gameOver.open {
    opacity: 1;
    pointer-events: auto;
}

/*buttons*/
button {
    font-family: "Arcade", monospace, Arial;
    font-size: 1.2rem;
    background-color: var(--magenta);
    color: white;
    font-weight: bold;

    padding: 0.5rem;
    border:none;
    border-radius: 5px;

    display:block;
    width:20rem;
    margin-bottom:0.5rem;
}
button:hover {
    color: white;
    background-color: var(--hotmag);
}
button:active {
    color:var(--plum);
    background-color: aqua;
}

/*blinking for game over sign*/
@-moz-keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @-o-keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }

